<article class="event-card" data-tags="<%= event.tag_list.join(" ") %>">
  <section class="card-front">
    <div class="left">
      <h3 class="event-title"><%= event.name %></h3>
      <ul>
          <div class="card-left-info">
            <li>
            <% if event.recurring %>
              <div class="subhead info-subhead">Recurring</div>
            <% end %>
            <div class="icon-container">
              <%= render 'time_icon.html.erb' %>
            </div>
            <span class="time-info"><%= event.when %></span>
          </li>
          <li>
            <div class="icon-container">
              <%= render 'location_icon.html.erb' %>
            </div>
            <%= event.location_name %>
            <ul class="subhead info-subhead">
              <li><%= event.street_address %></li>
              <li><%= event.city %> <%= event.state %> <%= event.zipcode %></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="right">
      <p><%= event.description %> </p>
      <ul>
        <% event.topic_list.each do |topic| %>
        <li>&bull; <%= topic %></li>
        <% end %>
        <% event.time_list.each do |time| %>
        <li>&bull; <%= time %></li>
        <% end %>
        <% event.day_list.each do |day| %>
        <li>&bull; <%= day %></li>
        <% end %>
        <% event.frequency_list.each do |frequency| %>
        <li>&bull; <%= frequency %></li>
        <% end %>
      </ul>
    </div>
    </section>

    <section class="card-back">
      <% if event.image_binary %>
      <div class="left">
        <img class="card-image" src="/events/<%= event.id%>.png" alt="<%= event.name %> image" />
      </div>
      <% end %>
      <div class="right">
        <div class="card-offsite-links">
          <h4 class="subhead">Offsite Links</h4>
          <ul>
            <% event.links.each do |link| %>
            <li><a href="<%= link.url %>" title="<%= link.title %>" class="card-button"><%= link.title %></a></li>
            <% end %>
          </ul>
        </div>
        <div class="card-shareable-links">
          <h4 class="subhead">Shareable Link</h4>
          <div class="shareable-link">
            <%= text_field_tag 'shareable-url', event_url(event), class: 'shareable-url-text-input', readonly: true %>
          </div>
        </div>
        <div class="card-report">
          <p>
            See a problem? <a href="mailto:lamppost@heysparkbox.com?subject=I'd%20like%20to%20report%20a%20problem&amp;body=(Answering%20these%20questions%20will%20help%20us%20address%20the%20issue%20in%20a%20timely%20manner)%0D%0A%0D%0A%0D%0AHere's%20a%20little%20about%20the%20problem%20I%20encountered%20(e.g.,%20unable%20to%20add%20an%20event,%20page%20issues,%20etc):" title="card-report" class="report-link">Let us know</a>.
          </p>
        </div>
      </div>
    </section>
  </article>
