<button class="event-filters__toggle-button">
  Filter Events
  <svg class="toggle-arrow" width="12px" height="8px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <title>Toggle Arrow</title>
    <desc>Toggles the filter menu</desc>
    <g>
      <polyline points="1.199219 0.95703125 6.273391 7.0312033 10.80343 0.50116394"></polyline>
    </g>
  </svg>
</button>
<div id="event-filters__filters" class="event-filters__filters">

  <div class="event-filters__group" data-filter-category="topics" role="group" aria-labelledby="filter-group-heading-topics">
    <h1 class="event-filters__group-heading" id="filter-group-heading-topics">Topics:</h1>

  <% @topics.each do |topic| %>
    <div class="event-filters__checkbox">
      <input class="event-filters__filter" type="checkbox" <%= topic.status%> data-tag="<%= topic.data_tag %>" id="tag-id-<%= topic.name %>" name="tag-id-<%= topic.name %>">
      <label for="tag-id-<%= topic.name %>"><%= topic.name %></label>
    </div>
    <% end %>
  </div>

  <div class="event-filters__group" data-filter-category="times" role="group" aria-labelledby="filter-group-heading-timeofday">
    <h1 class="event-filters__group-heading" id="filter-group-heading-timeofday">Time of Day:</h1>
    <% @times.each do |time| %>
      <div class="event-filters__checkbox">
        <input class="event-filters__filter" type="checkbox" <%= time.status%> data-tag="<%= time.data_tag %>" id="tag-id-<%= time.name %>" name="tag-id-<%= time.name %>">
        <label for="tag-id-<%= time.name %>"><%= time.name %></label>
      </div>
      <% end %>
  </div>

  <div class="event-filters__group" data-filter-category="days" role="group" aria-labelledby="filter-group-heading-day">
    <h1 class="event-filters__group-heading" id="filter-group-heading-day">Day:</h1>
    <% @days.each do |day| %>
      <div class="event-filters__checkbox">
        <input class="event-filters__filter" type="checkbox" <%= day.status%> data-tag="<%= day.data_tag %>" id="tag-id-<%= day.name %>" name="tag-id-<%= day.name %>">
        <label for="tag-id-<%= day.name %>"><%= day.name %></label>
      </div>
      <% end %>
  </div>

  <div class="event-filters__group" data-filter-category="frequencies" role="group" aria-labelledby="filter-group-heading-frequency">
    <h1 class="event-filters__group-heading" id="filter-group-heading-frequency">Frequency:</h1>
    <% @frequencies.each do |frequency| %>
      <div class="event-filters__checkbox">
        <input class="event-filters__filter" type="checkbox" <%= frequency.status%> data-tag="<%= frequency.data_tag %>" id="tag-id-<%= frequency.name %>" name="tag-id-<%= frequency.name %>">
        <label for="tag-id-<%= frequency.name %>"><%= frequency.name %></label>
      </div>
      <% end %>
  </div>
</div>


<footer class="copyright-section">&copy; <%= Time.now.year %> Sparkbox. All rights reserved.</footer>
