<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="A listing of tech events and meetups local to Dayton, OH">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LampPost</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
  <!--[if lte IE 9]>
    <%= stylesheet_link_tag "ie" %>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/655912/7659752/css/fonts.css" />
  <%= auto_discovery_link_tag :rss, events_url(:format => :rss) %>
</head>

<body>

  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "#{params[:controller]}-#{params[:action]}" %>
</body>
</html>
